---
layout: base.njk
title: Not here
permalink: /404.html
eleventyExcludeFromCollections: true
---

<div class="rows">
  <div class="row">
    <div class="rail"></div>
    <div class="body">
      <h1 class="article__title">There is nothing at this address</h1>
      <p class="article__standfirst">
        The link is wrong, or we moved the piece. The <a href="/archive/">archive</a> has everything
        we have published.
      </p>
    </div>
  </div>
</div>
