---
layout: base.njk
title: About
permalink: /about/
standfirst: Two people writing about boring things.
---

<div class="rows">
  <div class="row">
    <div class="rail"></div>
    <div class="body">
      <h1 class="article__title">Two people writing about boring things.</h1>
      <div class="prose">
        <p>
          This site exists so my friend and I can share our thoughts and opinions in article form.
        </p>
        <p>
          Everything we write is based on our own research, thoughts and opinions. We don't use AI to
          write our content, only to help structure articles and correct grammar.
        </p>

        <h2>A note to readers</h2>
        <p>
          If you find something wrong with our writing, or you disagree with our opinions, feel free
          to leave a comment. We love a good debate and welcome constructive criticism.
        </p>
        <p>
          That said, if our work isn't for you, feel free to move on. We'd rather not host comments
          that are just criticism without any argument behind them.
        </p>
      </div>
    </div>
  </div>
</div>
