---
layout: base.njk
title: About
permalink: /about/
standfirst: Two people writing about boring things.
---

<div class="rows">
  <div class="row">
    <div class="rail"></div>
    <div class="body">
      <h1 class="article__title">Two people writing about boring things.</h1>
    </div>
  </div>
</div>
